<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shen.stephen.utilplatform">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <meta-data
            android:name="com.shen.stephen.utilplatform.PkiGlideModule"
            android:value="GlideModule" />
        <activity
            android:name=".widget.photopicker.GalleryActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
